<div class="container">

    <img id="barn-map-admin" ng-src="assets/imgs/barn_map/a.PNG" usemap="#Map" ng-click="onClickMap($event)"/>
    <map name="Map" id="Map">
        <area ng-repeat="comp in comps" id="" avail="{{comp.avail_status}}" alt="" title="" href="#" shape="circle" coords="{{comp.loc_x}},{{comp.loc_y}},{{comp.loc_r}}" data-qtip="{{comp.comp_code}}"/>
        <!-- <area id="" avail="{{testState}}" alt="" title="" href="#" shape="poly" coords="117,424,116,447,146,447,147,424" data-qtip="SHDIFSDFI"/> -->
        <!-- <area id="" avail="1" alt="" title="" href="#" shape="poly" coords="44,469,44,495,71,496,73,472" data-qtip="TTEST"/> -->
    </map>
    <button class="btn" ng-click="bindMap()">Refresh Map</button>

    <h2>Edit Computers of {{barn.barn_name}}</h2>
    {{barn}}
    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Availibility</th>
            <th>Description</th>
            <th>Coordinates</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="comp in comps">
            <td>{{comp.comp_uid}}</td>
            <td>
                <span editable-text="comp.comp_code" e-name="code" e-form="barnCompForm" e-required>
                  {{comp.comp_code}}
                </span>
            </td>
            <td>
                <span editable-radiolist="comp.avail_status" e-ng-options="s.value as s.text for s in avail_statuses" e-name="status" e-form="barnCompForm" e-required>
                  {{comp.avail_status | compAvailibility}}
                </span>
            </td>
            <td>
                <span editable-text="comp.comp_desc" e-name="desc" e-form="barnCompForm" e-required>
                 {{comp.comp_desc}}
                </span>
            </td>
            <td>
                <!--X:-->
                <!--<span editable-text="comp.loc_x" e-name="x" e-form="barnCompForm" e-required>-->
                <!--{{comp.loc_x}}-->
                <!--</span>-->
                <!--<br>-->
                <!--Y:-->
                <!--<span editable-text="comp.loc_y" e-name="y" e-form="barnCompForm" e-required>-->
                <!--{{comp.loc_y}}-->
                <!--</span>-->
                <!--<br>-->
                <!--R:-->
                <!--<span editable-text="comp.loc_r" e-name="r" e-form="barnCompForm" e-required>-->
                <!--{{comp.loc_r}}-->
                <!--</span>-->
                X:{{comp.loc_x}} Y:{{comp.loc_y}} R:{{comp.loc_r}}
                <button type="button" class="btn btn-default btn-sm" ng-click="open(comp)" ng-show="barnCompForm.$visible">Edit Location</button>
            </td>
            <td>
                <!-- form -->
                <form editable-form name="barnCompForm" onbeforesave="saveComp($data, comp)" ng-show="barnCompForm.$visible" class="form-buttons form-inline" shown="inserted == comp">
                    <button type="submit" ng-disabled="barnCompForm.$waiting" class="btn btn-primary btn-sm">Save</button>
                    <button type="button" ng-disabled="barnCompForm.$waiting" ng-click="barnCompForm.$cancel()" class="btn btn-default btn-sm">Cancel</button>
                </form>
                <div class="buttons" ng-show="!barnCompForm.$visible">
                    <button class="btn btn-primary btn-sm" ng-click="barnCompForm.$show(); unbindMap()">Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="removeComp($index, comp.comp_uid)">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click="addComp()">Add row</button>


    <!--modal-->
    <div>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Drag a circle to locate the computer location!</h3>
            </div>
            <div class="modal-body">
                <!--<img src="http://i.imgur.com/PWSOy.jpg" id="background" />-->
                <div>
                    <img ng-src="assets/imgs/barn_map/a.PNG" usemap="#Map" ng-click="onClickMap($event)" id="barn" style="visibility: hidden;"/>
                    <canvas id="bgCanvas"  style="border:1px solid #c3c3c3; position: absolute; left: 0; top: 0; z-index: 0;" ng-init="initCanvas()">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                    <!--overlay layer on top of image layer for drawing-->
                    <canvas id="drawCanvas"  style="border:1px solid #c3c3c3; position: absolute; left: 0; top: 0; z-index: 1;">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </div>
                DEBUG:
                {{comp}}
                X: {{canvas.x}} Y: {{canvas.y}} R: {{canvas.r}}

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>

</div>
