<div id="main-container" class="container" ng-controller="BarnAvailCtrl">
    <div class="text-center">
        <h1 class="text-center">Barn Real-time Usage</h1>
        <small><i>Last updated: 1 hour ago</i></small>
    </div>


    <ul class="list-group">
        <li class="list-group-item" ng-repeat="barn in barns">

            <div class="row">
                <div class="col-sm-2">
                    <h4>{{barn.barn_id | barnName}}</h4>
                </div>
                <div class="col-sm-9">
                    <small>Available Seats</small>
                    <uib-progressbar max="barn.num_comp" value="barn.num_avail" type="success" uib-tooltip="{{barn.num_avail}} computers are currently available" tooltip-class="tooltip-custom">
                        <span style="display: block; position: absolute; width: 90%;">{{barn.num_avail}} / {{barn.num_comp}}</span>
                    </uib-progressbar>
                </div>
                <div class="col-sm-1">
                    <a href="{{base_url('barn/')+barn.barn_id}}">Preview</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-2">
                    <h4>Overall</h4>
                </div>
                <div class="col-sm-9">
                    <small>Available Seats</small>
                    <uib-progressbar max="total_comp" value="total_avail" type="success">
                        <span style="display: block; position: absolute; width: 90%;">{{total_avail}} / {{total_comp}}</span>
                    </uib-progressbar>
                </div>
                <div class="col-sm-1">
                    <!-- 					<a href="">Preview</a> -->
                </div>
            </div>
        </li>
    </ul>
    <div class="container" ng-controller="BarnOverviewChartCtrl">
        <h2 class="text-center">Barn Statistics</h2>
        <div id="chart_div"></div>
        <div google-chart chart="chartObject"></div>
    </div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--<script type="text/javascript">-->
        <!--google.charts.load('current', {packages: ['corechart', 'line']});-->
        <!--google.charts.setOnLoadCallback(drawBackgroundColor);-->

        <!--function drawBackgroundColor() {-->
            <!--var data = new google.visualization.DataTable();-->
            <!--data.addColumn('date', 'Date');-->
            <!--data.addColumn('number', 'Overall');-->
            <!--data.addColumn('number', 'Barn A');-->
            <!--data.addColumn('number', 'Barn B');-->
            <!--data.addColumn('number', 'Barn C');-->
            <!--data.addColumn('number', 'Barn D');-->

            <!--data.addRows([-->
                <!--[new Date(2016, 0, 1), 10, 2, 4, 2, 0],-->
                <!--[new Date(2016, 0, 2), 20, 8, 2, 2, 8],-->
                <!--[new Date(2016, 0, 3), 35, 7, 12, 2, 2],-->
                <!--[new Date(2016, 0, 4), 85, 12, 24, 40, 0],-->
                <!--[new Date(2016, 0, 5), 45, 11, 2, 18, 1],-->
                <!--[new Date(2016, 0, 6), 10, 5, 1, 2, 0],-->
                <!--// [new Date(2016, 0, 7), 5],-->
                <!--// [new Date(2016, 0, 8), 15],-->
                <!--// [new Date(2016, 0, 9), 25],-->
                <!--// [new Date(2016, 0,10), 05],-->
                <!--// [new Date(2016, 0,11), 75],-->
                <!--// [new Date(2016, 0,12), 35],-->
            <!--]);-->

            <!--var options = {-->
                <!--hAxis: {-->
                    <!--title: 'Date'-->
                <!--},-->
                <!--vAxis: {-->
                    <!--title: 'Occupied Seats'-->
                <!--},-->
                <!--title: 'Average Daily Usage of all barns',-->
                <!--height: 600-->
            <!--};-->

            <!--var chart = new google.visualization.LineChart(document.getElementById('chart_div'));-->
            <!--chart.draw(data, options);-->
        <!--}-->



    <!--</script>-->

</div>
